@import url('https://fonts.googleapis.com/css2?family=Khula:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
}

.overall {
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.5)), url('./images/background-img.jpeg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
}

.otp-background {
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url('./images/otpbackground.jpeg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
}

.blockedcard-bg {
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.4)), url('./images/bnpparibas.jpeg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
}
.overall a {
    margin-left: 70%;
    font-size: 18px;
}
.overall a:hover {
    text-decoration: underline;
}
.row {
    padding-top: 18%;
}

.continue-btn {
    background-image: linear-gradient(to right top, #890058, #bc005b, #eb1254);
    color: #fff;
    outline: none;
}
.continue-btn:hover {
    color: #fff;
}
.pay-btn {
    color: #537895;
    border-color: #537895;
}
.pay-btn:hover {
    color: #fff;
    background-color: #537895;
    background-image: linear-gradient(315deg, #537895 0%, #09203f 74%);
}
.phone-verify {
    border-radius: 50%;
}
.div-cover {
    background-color: #000000;
    background-image: linear-gradient(147deg, #000000 0%, #04619f 74%);
    padding: 30px 50px;
    width: 600px;
    border-radius: 10px;
    margin: 0 auto;
}
.verify-btn {
    color: #fff;
    background-color: #f0f7ff40;
    padding: 8px 40px;
    border: none;
    border-radius: 20px;
}
.verify-background {
    background-color: #000;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    color: #fff;
}

.row h3 {
    color: #fff;
    font-size: 3.7rem;
    font-family: 'Khula', sans-serif;
    line-height: 65.4px;
    font-weight: 700;
}
.row p {
    color: #fff;
    font-size: 1.4rem;
    width: 70%;
}
.datacard {
    height: auto;
    padding: 50px 60px;
    background-color: #fff;
    border-radius: 5px;
}

.card {
    border: none;
    width: 400px;
    border-radius: 12px;
    color: #fff;
    background-image: linear-gradient(to right top, #280537, #56034c, #890058, #bc005b, #eb1254)
}

.number span {
    font-size: 20px;
    font-weight: 600
}

.cardholder,
.expires {
    font-weight: 600;
    font-size: 17px
}

.name,
.date {
    font-size: 15px
}
.otp-datacard {
    width: 600px;
    height: auto;
    background-color: #f5f5f5;
    /* box-shadow: 10px 10px 5px -5px rgba(235,232,235,1); */
    border-radius: 3px;
}
.otp-datacard h4 {
    font-size: 1.2rem;
}

ul {
    padding: 0 10px;
}

ul li {
    list-style-type: none;
    margin-top: 10px;
}


@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
    .overall {
        height: auto;
    }
    .row h3 {
        font-size: 2.3rem;
        line-height: 40.4px;
    }
    .row p {
        color: #fff;
        font-size: 1.3rem;
        width: 90%;
    }
    .datacard {
       margin: 10px 20px;
    }
    .card {
        margin: 0 auto;
        width: 350px;
    }
    .div-cover {
        padding: 30px 50px;
        width: 300px;
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1112px) and (-webkit-min-device-pixel-ratio: 2) {
    .overall {
        height: 100vh;
    }
}
